<bs-current-game-state [gameStateToText]="currentGameStateService.gameStateToText" [gameState]="gameService.gameState$ | async" [expectedGameStates]="currentGameStateService.expectedGameStates" [dotClasses]="currentGameStateService.dotClasses"></bs-current-game-state>
<!-- domestic field -->
<bs-field [gameState]="gameService.gameState$ | async" [caption]="'YOUR FIELD'" [tiles]="gameService.domesticTiles$ | async" [isDomesticField]="true"></bs-field>
<br>
<!-- adversarial field-->
<bs-field [gameState]="gameService.gameState$ | async" (fired)="gameService.onFired($event)" [caption]="'ENEMY FIELD'" [tiles]="gameService.adversarialTiles$ | async" [isDomesticField]="false"></bs-field>
